.team-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 2rem 5rem;
}

.team {
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 2px 2px #aaa;
    border-radius: 10px;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.team > img {
    width: 60%;
    height: 13em;
    border-radius: 50%;
}

.team > p {
    margin: 20px;
}

.name {
    font-weight: bold;
    color: var(--main-color);
}

.social {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.social-icons {
    font-size: 2em;
}

.fa-twitter {
    color: var(--main-color);
}

@media screen and (max-width: 600px) {
    .team-cont {
        display: flex;
        flex-direction: column;
        margin: 2rem 10px;
    }
}