.search-cont {
    margin: -2.5rem auto 0;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 80%;
    z-index: 2;
}

.icons {
    color: var(--main-color);
}

.search-input {
    padding: 10px;
    border: none;
    font-family: inherit;
}

.search-select {
    padding: 10px;
    border: none;
    appearance: none;
    width: 12em;
}

.search-btn {
    margin: 4px;
    padding: 11px 30px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--button-color);
    cursor: pointer;
    width: 15%;
    font-family: inherit;
    font-size: 14px;
    text-transform: capitalize;
}

.form-group {
    width: 40%;
    text-align: left;
    padding: 5px 0 0 10px;
    border-right: 1px solid #777575;
}

/* .form-group:nth-child(2) {
    border: none;
} */

.form-control {
    width: 90%;
}

@media screen and (max-width: 600px) {
    .search-cont {
        display: flex;
        flex-direction: column;
        margin: 4em 2em;
        padding: 2em 2em 0;
    }

    .search-cont > div{
        border-bottom: 1px solid var(--text-color);

    }

    .search-btn {
        position: relative;
        top: 4em;
        padding: 15px;
        font-size: 20px;
        border-radius: 20px;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .form-group {
        width: 100%;
        border-right: none;
    }

    .search-cont {
        margin: -5rem auto 3rem;
    }

    .form-group:nth-child(3) {
        width: 100%;
        border-bottom: 1px solid;
    }
}