* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

p, input, a, ul, li, option, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
}